*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

body {
    background-image: linear-gradient(
        to bottom right,
        $color-secondary,
        $color-primary-dark
    );

    color: $color-default;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
}
