.btn {
    background-color: $color-red;
    color: $color-secondary;
    font-size: 2rem;
    outline: none;

    &--close {
        background: transparent;
        background-image: url('./../assets/icons/close.svg');
        background-repeat: no-repeat;
        background-position: center center;
        height: 5rem;
        position: absolute;
        top: -3.5rem;
        right: -4rem;
        width: 5rem;
    }
}
