input {
    border: none;
    border: solid 1px $color-grey-300;
    border-radius: $radius;
    background-color: $color-grey-100;
    font-size: 2rem;
    padding: 2rem;
}

input::placeholder {
    color: $color-grey-400;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}
