.calculator {
    display: flex;
    justify-content: space-between;
    left: 50%;
    position: absolute;
    opacity: 0;
    top: -100%;
    transform: translate(-50%, -50%);
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    width: 75%;

    .col {
        width: 100%;

        &:first-of-type {
            margin-right: 1rem;
        }

        &:last-of-type {
            max-height: 90vh;
        }
    }

    &--up {
        top: 29%;
        opacity: 1;
    }

    &--down {
        top: -100%;
        opacity: 0;
    }
}
