.calculator {
    display: flex;
    justify-content: space-between;
    left: 50%;
    position: absolute;
    opacity: 0;
    top: -100%;
    transform: translate(-50%, -50%);
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    width: 75%;

    @media only screen and (max-width: 1000px) {
        flex-direction: column;
        margin-top: -50%;
        transform: translate(-50%, 0);
        width: 95%;
    }

    .col {
        width: 100%;

        &:first-of-type {
            margin-right: 1rem;
        }

        &:last-of-type {
            max-height: 90vh;
        }

        &__checkbox {
            background-color: $color-grey-300;
            border-radius: 2rem;
            cursor: pointer;
            height: 2rem;
            left: 50%;
            position: absolute;
            top: -3rem;
            transform: translateX(-50%);
            width: 4.5rem;
        }

        &__label {
            cursor: pointer;
            height: 100%;
            position: absolute;
            width: 100%;
        }

        &__input {
            background: transparent;
            opacity: 0;

            &:checked ~ .col__checkbox-circle {
                left: 2rem;
            }
        }

        &__checkbox-circle {
            background-color: $color-grey-400;
            border-radius: 50%;
            border: solid 1px $color-grey-500;
            cursor: pointer;
            display: block;
            height: 2.3rem;
            left: 0;
            position: absolute;
            top: -1px;
            transition: left 0.3s ease-in-out;
            width: 2.3rem;
        }

        &__mode-icon {
            left: -4rem;
            position: absolute;
            top: -0.4rem;
        }
    }

    &--up {
        top: 29%;
        opacity: 1;
    }

    &--down {
        top: -100%;
        opacity: 0;
    }
}
