.hero {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: $gap;
    margin-top: 4rem;

    &__title {
        font-size: 6rem;
        padding-bottom: 3rem;
        text-transform: capitalize;
    }

    &__description {
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 5rem;
    }

    div:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 7;
    }

    div:nth-of-type(2) {
        grid-column-start: 7;
        grid-column-end: 13;

        img {
            max-width: 100%;
            margin-bottom: 15rem;
        }
    }

    button {
        align-self: flex-end;
    }
}
