.container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 48rem;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
    width: 46rem;

    &__title {
        color: $color-light;
        font-size: 2rem;
        font-weight: 800;
        letter-spacing: 1px;
    }
}
